/* regole generali */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}
/* **************** */

#main-nav{
  display: flex;
  flex-direction: row;
  padding:20px 50px 0px;
}

.logo-container img{
  max-height: 100px;
  max-width: 100px;
}

.left{
  width: 30%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo-container{
  width: 30%;
}

.nav-container >ul  {
  display: flex;
  flex-direction: row;
}

.nav-container ul li{
  padding-right: 30px;
  list-style: none;
}

.nav-container ul li a{
  color: grey;
}

.right{
  width: 70%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}


#bottone{
  width: 10%;
}

.li-drop{
  position: relative;
}
.dropdown{
  display:none;
  position: absolute;
  top: 30px;
  left:0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.dropdown.active{
  display: block;
}

.dropdown ul{
  padding: 10px;
}
.dropdown ul li{
  padding-bottom: 20px;
}

#lingue{
  margin-right: 10px;
}

button{
  padding: 10px;
  background-color: #eb008d;
  border-radius: 50px;
  border:none;
}

button a{
  color:white;
}
